{
    "extends": [
        "plugin:prettier/recommended",
        "eslint:recommended",
        "plugin:react/recommended"
    ],

    "plugins": ["prettier", "react", "react-hooks"],

    "rules": {
        "prettier/prettier": "error"
    }
}
